@model personalblog.Models.ViewModels.PostVM



<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>                
                <textarea asp-for="Body" class="form-control" ></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">               
                <label asp-for="Categoryid" class="control-label"></label> 
                <input type="hidden" asp-for="Categoryid">                           
                <select asp-for="Categoryid" asp-action="ViewBag.Categoryid" class="form-control">
                     <span asp-validation-for="Categoryid" class="text-danger"></span>
                
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js"></script>

    <script>
         tinymce.init({
    selector: '#Body',
    height: 500,
    theme: 'silver',
    menubar: false
    });
    </script>
}


